@import "../utils/naming.scss";
@import "../theme/theme-config.scss";

@mixin input-state($color-list) {
  background: map-get($color-list, $input-background-color-level);
  border: $input-border-width solid
    map-get($color-list, $input-border-color-level);

  &:focus {
    border-color: map-get($color-list, $input-border-color-level--focus);
    box-shadow: $default-focus-shadow-size
      map-get($color-list, $default-focus-shadow-color-level);
  }
}

.#{$prefix}-input {
  @include input-state($primary-color-list);

  padding: $input-padding;
  border-radius: $input-border-radius;

  &:focus {
    background: $input-background--focus;
    outline: none;
  }
}
