.#{$prefix}notification {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: $notification-width;
  height: $notification-height;
  border-radius: $notification-border-radius;

  .#{$prefix}notification-icon {
    margin-left: $notification-margin-horizontal;
    font-size: $notification-icon-size;
  }

  .#{$prefix}notification-content {
    margin-left: $notification-margin-horizontal;
    font-size: 14px;
  }

  .#{$prefix}notification-close-icon {
    position: absolute;
    right: $notification-margin-horizontal;
    font-size: $notification-close-icon-size;
  }

  &--error {
    background-color: map-get($danger-color-list, "0");

    .#{$prefix}notification-icon {
      color: map-get($danger-color-list, "9");
    }

    .#{$prefix}notification-content {
      color: #9b4040;
    }

    .#{$prefix}notification-close-icon {
      color: map-get($danger-color-list, "4");
    }
  }

  &--warning {
    background-color: map-get($warning-color-list, "0");

    .#{$prefix}notification-icon {
      color: map-get($warning-color-list, "9");
    }

    .#{$prefix}notification-content {
      color: #905414;
    }

    .#{$prefix}notification-close-icon {
      color: map-get($warning-color-list, "4");
    }
  }

  &--info {
    background-color: map-get($primary-color-list, "0");

    .#{$prefix}notification-icon {
      color: map-get($primary-color-list, "10");
    }

    .#{$prefix}notification-content {
      color: map-get($primary-color-list, "10");
    }

    .#{$prefix}notification-close-icon {
      color: map-get($primary-color-list, "4");
    }
  }

  &--success {
    background-color: map-get($success-color-list, "0");

    .#{$prefix}notification-icon {
      color: #2b8a3e;
    }

    .#{$prefix}notification-content {
      color: #2b8a3e;
    }

    .#{$prefix}notification-close-icon {
      color: map-get($success-color-list, "4");
    }
  }
}
