.#{$prefix}avatar {
  overflow: hidden;
  color: $avatar-color;
  background: $avatar-background;
  border-radius: 50%;

  @extend .#{$prefix}flex-centered;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--small {
    width: $avatar-size--small;
    height: $avatar-size--small;

    i {
      font-size: $avatar-font-size--small;
    }
  }

  &--normal {
    width: $avatar-size--normal;
    height: $avatar-size--normal;

    i {
      font-size: $avatar-font-size--normal;
    }
  }

  &--large {
    width: $avatar-size--large;
    height: $avatar-size--large;

    i {
      font-size: $avatar-font-size--large;
    }
  }
}
