.#{$prefix}toast-notification {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 10px;
  border-radius: 2px;

  &--error {
    color: $toast-notification-font-color--error;
    background-color: $toast-notification-background-color--error;
    box-shadow: $toast-notification-shadow--error;
  }

  &--warning {
    color: $toast-notification-font-color--warning;
    background-color: $toast-notification-background-color--warning;
    box-shadow: $toast-notification-shadow--warning;
  }

  &--info {
    color: $toast-notification-font-color--info;
    background-color: $toast-notification-background-color--info;
    box-shadow: $toast-notification-shadow--info;
  }

  &--success {
    color: $toast-notification-font-color--success;
    background-color: $toast-notification-background-color--success;
    box-shadow: $toast-notification-shadow--success;
  }

  &--normal {
    color: $toast-notification-font-color--normal;
    background-color: $toast-notification-background-color--normal;
    box-shadow: $toast-notification-shadow--normal;
  }

  &__icon {
    .vs-icon {
      font-size: 26px;
    }
  }

  &__close {
    .vs-icon {
      font-size: 26px;
      cursor: pointer;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2px 14px;

    p {
      margin: 0 0 12px 0;
      padding: 0;
      font-size: 14px;
    }

    p:nth-child(2) {
      margin: 0 0 6px 0;
      line-height: 18px;
    }
  }
}
