@import "../colors/color-palette.scss";

/* Color Map
   ========================================================================== */

$primary-color-list: $indigo-list;
$danger-color-list: $red-list;
$warning-color-list: $yellow-list;
$gray-color-list: $gray-list;

/* Default
   ========================================================================== */

$default-focus-shadow: 0 0 0 3px map-get($primary-color-list, "2");
$default-font-size: 14px;
$default-border-size: 2px;
$small-border-radius: 2px;

/* Translation
   ========================================================================== */
$default-translation-duration: 200ms;
$color-translation: background $default-translation-duration,
  color $default-translation-duration,
  border-color $default-translation-duration;

/* Button
   ========================================================================== */

$button-border-radius: $small-border-radius;
$button-font-size: $default-font-size;

/**
 * Default Size
 */

$button-default-padding-x: 25px;
$button-default-padding-y: 10px;
$button-default-padding: $button-default-padding-y $button-default-padding-x;

/**
 * Small Size
 */

$button-small-padding-x: 16px;
$button-small-padding-y: 6px;
$button-small-padding: $button-small-padding-y $button-small-padding-x;

/**
 * Primary Button
 */

$button-primary-background: map-get($primary-color-list, "7");
$button-primary-background--hover: map-get($primary-color-list, "8");
$button-primary-background--active: map-get($primary-color-list, "9");
$button-primary-color: $white;

/**
 * Secondary Button
 */

$button-secondary-border-color: map-get($primary-color-list, "7");
$button-secondary-color: map-get($primary-color-list, "7");
$button-secondary-border-width: 2px;
$button-secondary-background--hover: $button-primary-background;
$button-secondary-background--active: $button-primary-background--active;
$button-secondary-color--hover: $white;

// [dark-theme]
$dark-theme-button-secondary-border-color: map-get($primary-color-list, "7");
$dark-theme-button-secondary-color: map-get($primary-color-list, "7");

/**
 * Danger Button
 */

$button-danger-background: map-get($danger-color-list, "7");
$button-danger-background--hover: map-get($danger-color-list, "8");
$button-danger-background--active: map-get($danger-color-list, "9");
$button-danger-color: $white;

/**
 * Danger Secondary Button
 */

$button-danger-secondary-border-color: map-get($danger-color-list, "7");
$button-danger-secondary-color: map-get($danger-color-list, "7");

// [dark-theme]
$dark-theme-button-danger-secondary-border-color: map-get(
  $danger-color-list,
  "7"
);
$dark-theme-button-danger-secondary-color: map-get($danger-color-list, "7");
